// main div of products
.products-main {
  width: 86%;
  max-width: 1280px;
  margin: 0 auto;
}

.products-header {
  text-align: center;
  font-size: 26px;
}

.products-wrapper {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
}
// each individual item
.item {
  width: 200px;
  max-width: 230px;
  height: 340px;
  display: inline-grid;
  padding: 0.5em 0.4em;
  margin: 0.7em 0.35em;
  transition: all 1s ease-in-out;

  &:hover {
    border-radius: 15px;
    border: 2px solid green;
    background-color: rgb(209, 208, 124);
    transition: all .5s ease-in-out;
  }
  
}

.item-detail {
  margin: 0.1em 0.4em;
  text-align: center;
}

.item-image {
  height: 16.4em;
  background-size: cover;
  background-image: url('../../data/img/dataItems/men/image-sprite.jpg');
}
// loop through sprite image
@for $y from 1 through 8 {
  .item:nth-child(#{$y}) .item-image {
    background-position-y: -1 * ($y - 1) * 16.6em;
  }
}

.buy-it {
  display: block;
  margin: 0 auto;
  border-radius: 38%;
  background-color: rgb(152, 219, 182);
  padding: 0.1em 1em;
  font-weight: 600;
  font-size: 1em;
}

@media screen and (max-width: 400px) {
  .products-main {
    width: 100%;
  }
  .products-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .item {
    display: block;
    margin: 0.1em auto;
    text-align: center;
    height: 21em;
  }
  .buy-it {
    display: inherit;
    justify-content: center;
    text-align: center;
  }
}