.main-menu {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.menu-top {
  padding: 1em 1em 0.5em 1em;
  display: flex;
  justify-content: space-between;
}

.menu-brand {
  cursor: pointer;
  text-decoration: none;
  padding: 0.3em 0.1em 0 0.8em;
  font-size: 1.3em;
  color: black;
  font-weight: 600;
  margin-bottom: auto;
  &:hover {
    width: auto;
    padding: 0.3em 0.5em;
    border-radius: 15px;
    background-color: rgb(209, 208, 124);
    transition: all .5s ease-in-out;
  }
}

.menu-brand-link {
  color: rgb(50, 61, 61);
  text-decoration: none;
  font-weight: 600;
}

.shop-cart {
  border-radius: 12px;
  transition: all .7s ease-in-out;
  cursor: pointer;
  height: 4em;
  width: 5em;
  &:hover {
    margin-bottom: 1em 1em;
    border-radius: 50%;
    border: 2px solid green;
    transition: all .7s ease-in-out;
  }
}

.shop-cart-icon {
  margin: 0.4em 0.4em;
  margin-left: 0.65em;
  width: 3em;
  height: 3em;
  border-radius: 8px;
  background-image: url('../../data/img/dataItems/shopCart/shopCart.png');
  background-size: contain;
}

.menu {
  font-size: medium;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 1em auto;
  width: 100%;
}

.menu-link {
  padding: 1em 2em;
  margin: 0 0.1em;
  transition: all 1s ease-in-out;

  &:hover {
    padding: 0.5em 0.5em;
    border-radius: 15px;
    // border: 2px solid green;
    background-color: rgb(209, 208, 124);
    transition: all .5s ease-in-out;
  }
}

.menu-link a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}



// responsive design starts

@media (min-width: 1281px) {
  .menu-main {
    width: 100%;
  }
  .menu ul{
    display: table;
    margin: 0 auto;
    padding-left: 5em;
  }
  .menu-link {
    display: block;
    float: left;
    padding: 1em 0.4em 0.2em 0.4em;
    font-size: 1.5em;
  }
  .shop-cart {
    font-size: 1em;
    padding: 0.2em 0.5em;
    border-radius: 12px;
    margin: 1em 1em 0 0;
    cursor: pointer;
  }
  .menu-brand,
  .shop-cart {
    display: -webkit-inline-box;
    justify-content: space-between;
  }
  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .menu-main {
    width: 100%;
  }
  .menu ul{
    display: table;
    margin: 0 auto;
    padding-left: 5em;
  }
  .menu-link {
    display: block;
    float: left;
    padding: 1em 0.4em 0.2em 0.4em;
    font-size: 1.5em;
  }
  .shop-cart {
    font-size: 1em;
    padding: 0.2em 0.5em;
    border-radius: 12px;
    margin: 1em 1em 0 0;
    cursor: pointer;
  }
  .menu-brand,
  .shop-cart {
    display: -webkit-inline-box;
    justify-content: space-between;
  }
  
}

@media (min-width: 801px) and (max-width: 1024px) {
  .menu-main {
    width: 100%;
  }
  .menu ul{
    display: table;
    margin: 0 auto;
    padding-left: 5em;
  }
  .menu-link {
    display: block;
    float: left;
    padding: 1em 0.2em 0.2em 0.2em;
    font-size: 1.6em;
  }

  .menu-brand-link{
    font-size: 1.3em;
    line-height: 1.5em;
    color: #000;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .menu-main {
    width: 100%;
    max-width: 1024px;
  }
  .menu ul{
    display: table;
    margin: 0 auto;
    font-size: 0.8em;
    padding-left: 8em;
  }
  .menu-link {
    display: block;
    float: left;
    padding: 1em 0.2em 0.2em 0.1em;
    font-size: 1.7em;
  }
  .shop-cart {
    font-size: 1em;
    padding: 0.2em 0.5em;
    border-radius: 12px;
    margin: 1em 1em 0 0;
    cursor: pointer;
  }
  .menu-brand,
  .shop-cart {
    display: -webkit-inline-box;
    justify-content: space-between;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .menu-main {
    width: 100%;
  }
  .menu ul{
    display: flex;
    padding-left: 0;
  }
  .menu-link {
    display: block;
    padding: 1em 0.2em 0.2em 0.2em;
    font-size: 1em;
  }
  .shop-cart {
    width: 4.4em;
    height: 3.4em;
  }
  .shop-cart-icon {
    width: 2.4em;
    height: 2.4em;
  }
}