// each individual men item
.men {
  height: 26em;
  width: 200px;
  padding: 0.5em 0.4em;
  margin: 0.7em 0.35em;
  transition: all 1s ease-in-out;

  &:hover {
    border-radius: 15px;
    background-color: rgb(209, 208, 124);
    transition: all .5s ease-in-out;
  }
  
}

.men-detail {
  margin: 0.1em 0.4em;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.1em;
}

.men-image {
  height: 16.2em;
  background-image: url('../../data/img/dataItems/men/men.jpg');
}
// loop through sprite image
@for $y from 0 through 11 {
  @for $x from 1 through 16 {
    .men:nth-child(#{$x + $y * 16}) .men-image {
      background-position-x: -1 * ($x - 1) * 200px;
      background-position-y: -1 + $y * 266px;
    }
  }
}

.buy-it {
  display: block;
  margin: 0 auto;
  border-radius: 38%;
  background-color: rgb(152, 219, 182);
  padding: 0.1em 1em;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    width: auto;
    padding: 0.5em 1em;
    border-radius: 15px;
    border: 2px solid green;
    background-color: rgb(51, 109, 65);
    transition: all .5s ease-in-out;
  }
}

@media (min-width: 1281px) {
  .products-main {
    width: 90%;
    margin: 0 auto;
  }
  .products-header {
    text-align: center;
    font-size: 2.2em;
  }
  .products-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1010px;
  }
  .men {
    display: inline-grid;
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 1em auto;
  }
  .buy-it {
    display: block;
    padding: 0.5em 1em;
  }
  .men-detail {
    display: block;
    margin: 0.2em 0.2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .products-main {
    width: 90%;
    margin: 0 auto;
  }
  .products-header {
    text-align: center;
    font-size: 2.2em;
  }
  .products-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .men {
    display: inline-grid;
    height: 25em;
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 1em auto;
  }
  .buy-it {
    display: block;
    padding: 0.5em 1em;
  }
  .men-detail {
    display: block;
    margin: 0.2em 0.2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .products-main {
    width: 90%;
    margin: 0 auto;
  }
  .products-header {
    text-align: center;
    font-size: 2.2em;
  }
  .men {
    display: inline-grid;
    height: 25em;
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 1em auto;
  }
  .buy-it {
    display: block;
    padding: 0.5em 1em;
  }
  .men-detail {
    display: block;
    margin: 0.2em 0.2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .products-main {
    width: 90%;
    margin: 0 auto;
  }
  .products-header {
    text-align: center;
    font-size: 2.2em;
  }
  .products-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .men {
    display: inline-grid;
    height: 25em;
    text-align: center;
    padding: 0.5em 0.5em;
    margin: 1em auto;
  }
  .buy-it {
    display: block;
    padding: 0.5em 1em;
  }
  .men-detail {
    display: block;
    margin: 0.2em 0.2em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .products-main {
    width: 100%;
    display: block;
  }
  .products-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .men {
    display: block;
    margin: 0.4em auto;
    text-align: center;
    height: 22.5em;
  }
  .buy-it {
    justify-content: center;
    text-align: center;
  }
}
