.main-header {
  position: relative;
  margin: 0 auto;
  height: 35vh;
  // top: 4vh;
  width: 90%;
  max-width: 1280px;
  background-image: url("../../data/img/landing2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.header-text {
  position: absolute;
  width: auto;
  margin: 8em 0 0 4em;
  padding: 0.2em 0.6em;
  background-color: rgba(185, 182, 182, 0.2);
  border-radius: 15%;
}

.header-text button {
  border-radius: 38%;
  background-color: #ccc;
  padding: 0.3em 0.6em;
  margin: 0 0 1em 3em;
  font-weight: 600;
  font-size: 0.7em;
}
@media (min-width: 481px) and (max-width: 800px) {
  .header-text {
    font-size: 0.9em;
    margin: 12em 0 0 2em;
    line-height: 0.5em;
    background-color: rgba(185, 182, 182, 0.4);
    h4 {
      font-size: 1.4em;
      line-height: 0.5em;
    }
  }
  .header-text button {
    font-size: 1em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header-text {
    font-size: 0.6em;
    margin: 12.5em 0 0 2em;
    line-height: 0.5em;
    background-color: rgba(185, 182, 182, 0.5);
    h4 {
      font-size: 1.4em;
      line-height: 0.5em;
    }
  }
  .header-text button {
    font-size: 1.1em;
  }

}