.main-header {
  position: relative;
  margin: 0 auto;
  height: 35vh;
  width: 90%;
  background-image: url("../../data/img/landing2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.header-text {
  position: absolute;
  width: auto;
  margin: 8em 0 0 4em;
  padding: 0.2em 0.6em;
  background-color: rgb(185, 182, 182, 0.2);
  border-radius: 15%;
}

.header-text button {
  border-radius: 38%;
  background-color: #ccc;
  padding: 0.3em 0.6em;
  margin: 0 0 1em 3em;
  font-weight: 600;
  font-size: 0.7em;
}