.footer-main {
  display: flex;
  text-align: center;
  margin-top: 3em;
  background-color: rgb(101, 110, 103);
  line-height: 0.4em;
  justify-content: center;
}

.footer-header {
  font-size: 1.2em;
}

.footer-brand {
  padding: 1em 0;
  margin-left: 1em;
  font-weight: 600;
}