.main-footer {
  display: flex;
  margin-top: 3em;
  background-color: rgb(101, 110, 103);
  justify-content: space-between;
  font-size: 1.1em;
  padding: 0 0.7em;
}

@media (min-width: 481px) and (max-width: 800px) {
  .our-store span {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  p {
    font-size: 0.9em;
  }
  .blog-posts {
    margin-bottom: 1em;
  }
  .blog-posts p {
    font-size: 1.2em;
  }
  .support span {
    font-size: 1.2em;
    font-weight: 600;
    display: block;
  }
  .our-store span {
    display: block;
  }
  .support {
    display: block;
    padding-right: 0.1em;
    margin-right: 0.1em;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-footer {
    display: inline-flex;
    font-size: 1em;
    justify-content: space-between;
    padding: 0 0.2em;
  }
  .our-store span {
    font-size: 1em;
  }
  h4 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .blog-posts {
    margin-bottom: 1em;
  }
  .blog-posts p {
    font-size: 1em;
  }
  .blog-posts span {
    font-size: 1em;
  }
  .support span {
    font-size: 1em;
    font-weight: 600;
    display: block;
  }
  .our-store span {
    display: block;
  }
}