body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  /* height: auto; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr.style-one { 
  overflow: visible;
  height: 30px;
  border-style: solid; 
  border-color: black; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style-one:before {
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid;
  border-color: black; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

hr.style-eight {
  overflow: visible; /* For IE */ 
  padding: 0; border: none; 
  border-top: medium double #333; 
  color: #333; 
  text-align: center; 
}

hr.style-eight:after { 
    content: "§"; 
    display: inline-block; 
    position: relative; 
    top: -0.7em; 
    font-size: 1.5em; 
    padding: 0 0.25em; 
    background: white; 
}